*{
	margin:0;
	padding:0;	
}

@font-face{
	font-family: 'Ninja Rush';
	src: url("Ninja Rush.otf");
}

#center{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-image: url("ozadje.jpg");
	background-repeat:no-repeat;
    border-radius: 5px;
	border:rgb(169, 175, 180) 5px solid;
    box-shadow: rgb(169, 175, 180) 0 0 10px 5px;
    z-index: 1;
}

body{
    margin: 0;
    padding: 0;
	
    background: linear-gradient(160deg, rgb(6, 69, 9) 10%, rgb(44, 115, 47) 80%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat:no-repeat;
	background-size:cover;
}

p{  
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-family: 'Ninja Rush';
    color: aliceblue;
}


.tocke {
	padding-left: 40%;
	float: left;
	font-family: 'Ninja Rush';
	font-size: 2em;
    color: aliceblue;
}

.cas {
	padding-right: 40%;
	float: right;
	font-family: 'Ninja Rush';
	font-size: 2em;
    color: aliceblue;
}

.centriraj {
    width: 800px;
    height: 30px;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

mark {
    background-color: transparent;
    color: aliceblue;
  }

.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    font-family: "Ninja Rush";
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.7em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#shurikenL{
    position: absolute;
    margin-top: 170px;
    left: 20px;
    z-index: -1;
}

.shurikenD{
    position: absolute;
    top: 170px;
    right: 20px;
    z-index: -1;
}

.submarineDesno img {
    max-width: 100%;
}